/* This document is a part of the OnceSol Project */
/* Standard Cascading Style Sheet File */

/* Last update : 15/12/2001 */
/* Author : Olivier Boudeville (olivier.boudeville@online.fr) */

div.box { border: solid; border-width: thin; width: 100% }

body {
  background: #000000;
  font-family: arial, helvetica, sans-serif;
  font-size: 20px;
  text-indent: 4%;
  text-align: left;
  margin-left: 5%;
  margin-right: 3%;
  margin-top: 2%;
  margin-bottom: 2%;
  color: #FFFF99
}

h1.Huge {
  color: #FFCC00 ;
  font-size: 70px;
  background: transparent;
  font-weight: bold;
  font-family: Verdana;
  margin-top: 0%;
  margin-bottom: 0;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center
}

h1.Big {
  font-family: "Lucida Sans Unicode";
  font-size: 40px
}

h1 {
  color: #8A80FF;
  font-size: 35px;
  background: transparent;
  font-weight: bold;
  font-family: "Lucida Sans Unicode", Verdana, "MS Sans Serif";
  text-align: center;
  margin-top: 2%;
  margin-bottom: 3%;
  margin-left: 2%;
  margin-right: 2%
}

h2 {
  color: #99CC00 ;
  font-size: 25px;
  background: transparent;
  text-align: left;
  font-family: "Lucida Sans Unicode", Verdana, "MS Sans Serif"
}

h3 {
  color: #FFCC00;
  font-size: 20px;
  background: transparent;
  font-family: "Lucida Sans Unicode", Verdana, "MS Sans Serif";
  margin-left: 5%;
  margin-right: 4%;
}

h4 {
  color : #FF9933;
  font-size: 18px;
  margin-left: 6%;
  margin-right: 6%;
  font-family : "Lucida Sans Unicode", Verdana, "MS Sans Serif";
  font-weight: normal
}

h5 {
  color : #669933;
  font-size: 17px;
  margin-left: 8%;
  margin-right: 8%;
  font-family : "Lucida Sans Unicode", Verdana, "MS Sans Serif";
  font-weight: bold
}

div.Visited {
  font-size: 20px;
  color: #B1B189 
}

ul {
  color: #FFFF99;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 0%;
  text-align: left;
  list-style: square;		
  margin-right: 2%
}

dl {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 0%;
  text-align: left;
  color: #669933;
  font-weight: bold;
  margin-right: 2%
}

dt {
  color: #FF0000;
  background: #FF0000;
  font-weight: bold
}

dd {
  color: #8A80FF;
  font-weight: bold
}

  
ol {
  color: #FFFF99;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 0%;
  text-align: left;	
  margin-right: 2%
}

.romanic {
  list-style: upper-roman
} 

p {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 0%;
  margin-right: 3%;
  text-align: justify;
  text-indent: 5%
}

ul li {
  color: #FF9933; 
  margin-left: 0%;
  margin-right: 0%;
  list-style: square
}

ol li {
  color: #FF9933; 
  margin-left: 0%;
  margin-right: 0%;
  list-style: decimal
}

ul ul li, ol ol li {
  color: #99CC00;
  list-style: disc;
  list-style-type: upper-alpha 
}
  
ul ul, ol ol, table ol, table ul {
  list-style: disc;
  margin-left: 4%;		
  margin-right: 0%
}

ul ul ul li, ol ol ol li {
  color: #669933;
  margin-left: 0%;
  list-style: decimal
}
  
pre {
  margin-left: 4%;
  background: #000000;
  white-space: pre
}

table {
  border-style: solid;
  color: #FF0000;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: green;
  border: solid;
  border-collapse: separate;
  border-spacing: 15pt;
  background: blue
}

td {
  border: thin dotted #800080;
  border-style: solid;
  color: #FF0000;
  background-color: green;
  color: white; 
  border: solid;
  background: blue
}

table caption {
  font-size: larger;
  font-weight: bolder
}

table p, table dl, ol p, ul p, dl p, blockquote p, .note p, .note ul, .note ol, .note dl, li pre, dd pre {
  color: #FFFF99;
  margin-left: 0;
  margin-right: 0
}

tr {
   background : #FF0000;
   font-family: arial, helvetica, sans-serif;
   font-size: 15px
}

th { 
   background : #000000;
   color: #8A80FF;
   font-family: arial, helvetica, sans-serif; 
   font-weight: bold;
   font-size: 19px
 }

td {
   background : #000000; 
   color: #FFFF99;
   font-family: arial, helvetica, sans-serif;
   font-size: 15px 
}

p.top {
  background: #8A80FF;
  margin-left: 1%;
  margin-right: 1%
}

blockquote {
  margin-left: 8%;
  margin-right: 8%;
  border: thin ridge #B1B189
}

blockquote pre {
  margin-left: 1%;
  margin-right: 1%
}

dt a {
  font-weight: bold;
  background : #669933;
  color: #8A80FF;
  margin-top: .8em
}

td a {
  font-weight: bold;
  font-size: 15px
}

a:link {
  color:#FFCC00; 
  background: transparent;
  text-decoration: none
}

a:visited {
  color: #B1B189;
  background: transparent;
  text-decoration: none
}

a:active {
  color: #B1B189;
  background: transparent;
  text-decoration: none
}

a:hover { 
  text-decoration:underline;
  color:#FF0000
}

.html {
  color: #000080;
  background: #8A80FF;
}

.css {
  color: #800000;
  background: transparent
}

.javascript {
  color: #008000;
  background: transparent
}

.example {
 margin-left: 10%
}

code {
  color: #99CC00 ;
  font-size: 17px;
  background: #000000;
  font-weight: normal;
  font-family: Courier
}

b {
  color: #FF9933;
  font-family: "Lucida Sans Unicode", Verdana, "MS Sans Serif";
  font-size: 18px;
  font-weight: bold
}

dfn {
  font-style: normal;
  color: #8A80FF;
  font-weight: bolder
}

var sub { font-style: normal }

.note {
  font-size: 85%;
  margin-left: 10%
}

.SMA {
  color: fuchsia;
  background: transparent;
  font-family: Kids, "Comic Sans MS", Jester
}

.oops {
  font-family: Jester, "Comic Sans MS"
}

.author {
  font-style: italic
}

.copyright {
  font-size: smaller;
  text-align: right;
  clear: right
}

.toolbar {
  text-align: center
}

.toolbar IMG {
  float: right
}

.error {
  color: #DC143C;
  background: transparent;
  text-decoration: none
}

.warning {
  color: #FF4500;
  background: transparent;
  text-decoration: none
}

.error strong {
  color: #DC143C;
  background: #FFD700;
  text-decoration: none
}

.warning strong {
  color: #FF4500;
  background: #FFD700;
  text-decoration: none
}

.warning a:link, .warning a:visited, .warning a:active {
  color: #FF4500;
  background: transparent;
}

.error a:link, .error a:visited, .error a:active {
  color: #DC143C;
  background: transparent;
  text-decoration: underline
}

.error strong a:link, .error strong a:visited, .error strong a:active {
  color: #DC143C;
  background: #FFD700
} 

.warning strong a:link, .warning strong a:visited, .warning strong a:active {
  color: #FF4500;
  background: #FFD700
}

colgroup.entity { text-align: center }

.default { text-decoration: underline; font-style: normal }

.required { font-weight: bold }

td li.transitional, .elements li.transitional {
  font-weight: lighter;
  color: #696969;
  background: transparent
}

td li.frameset, .elements li.frameset {
  font-weight: lighter;
  color: #808080;
  background: transparent
}

.footer {
  margin-top: 2em;
  padding-top: 1em;
  border-top: solid thin black
}

@media print {
  input#toggler, .toolbar { display: none }
}

@media aural {  
  h1, h2, h3 { stress: 20; richness: 90 }
  .hide { speak: none }
  p.copyright { volume: x-soft; speech-rate: x-fast }
  dt { pause-before: 20% }
  pre { speak-punctuation: code } 
}
